*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  width: 100%;
  margin: 0;
}
body,html{
    background: rgb(150, 150, 214);
    /* transition: all 1.5s ease-in-out;
    background-color: red;
    color: burlywood; */
}
 body:hover{
    background: rgb(150, 150, 214);
    transition: all 1.5s ease-in-out;
    /* background-color: rgb(73, 73, 96); */
    /* color: burlywood; */
}
/* body::after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: rgb(12, 31, 92);
    z-index: -1;
    border-radius: 10rem;
    transition: 0.3s ease all;
    transform: scale(0,1);
    transform-origin: top right;
    transition: transform 10ms cubic-bezier(0.8,0,0.07,1);
    transition-timing-function: cubic-bezier(0.8,0,0.07,1);
}
body:hover::after{
    transform: scale(1,1);
    transform-origin: top left;

} */

h1{
    margin-top: 0.5px;
    margin-bottom: 25px;
    text-align: center;
    font-size: 50px;
}
.btn_sorts{
    display: flex;
    flex-wrap: wrap;
}
.nav_bar{
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.sz_sp{
    display: flex;
    gap: 2;
 cursor: pointer;

}
.btn{
 padding-top: 20px;
 padding-bottom: 20px;
 text-align: center;
 background: #4d5edd;
 font-size: medium;
 border-radius: 10px;
 background: #4d5edd;
 margin-right: 7px;    
 border-radius: 10px;
 width: 108px;
 margin-top: 7px;
 overflow: hidden;
 cursor: pointer;
}
.btn:hover{
    transition: all 0.2s ease-in-out;
    background: #dcd971;
}
.btn::before{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height:  0%;
    background: red;
    z-index: -1;
    transition: 0.9s;
    
}
.span{
    background: goldenrod;
    height: 100%;
    width: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
    text-transform: uppercase;
}
.btn:hover .span{
 width: 100%;
}
.sort_btn{
    background: #4d5edd;
    margin-right: 7px;    
    border-radius: 10px;
    width: 108px;
    margin-top: 7px;
}
.newArray{
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 10px;
   }

.ss{
    display: block;
    align-items: flex-start;
    cursor: pointer;
     background: #000;
}
.inputs{
    margin-right: 30px;
    font-size: x-large;
    font-weight: bolder;
    margin-left: 9px;
}


.flex-item{
    background: cyan;
    border: 1pt solid black;
    width: 10px;
    transition: 0.1s all ease;
}
.flex-contain{
    margin-top: 20px;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 600px;
    justify-content: center;
    transition: 2s all ease;
}

@media (max-width : 600px ) {
    body{
        background: rgb(187, 160, 149);
    }
    .sort_btn{
     background: #0a1fbf;
    margin-right: 7px;
    border-radius: 10px;
    width: 44px;
    height: 48px;
    /* font-size: 7px; */
    }
    .btn {
        padding-top: 20px;
        padding-bottom: 20px;
        background: #3442aa;
        font-size: 7px;
        margin-top: 5px;
    }
    .nav_bar{
        padding-left: 35px;
    }
     .quickSort{
        align-items: center;
        /* margin-left: 23px; */
     }
    h1{
        font-size: 30px;
    }
    .sz_sp{
        display: block;
        /* gap: 2; */
        margin-top: -9px;
        margin-left: 15px;
        margin-right: 10px;
    }
    .inputs {
        font-size: 13px;
        margin-right: 1px;
    }
    .newArray {
        margin-bottom: 31px;
        display: flex;
        justify-content: center;
        align-items: center; margin-top: 21px;
    }
  
  }